<div class="sidebar-view-div">
<nav class="tab-bar">
  <section class="left-small">
    <a class="menu-icon" id="menu-toggle"><span> Menu</span></a>
  </section>
</nav>

<div id="wrapper">
        <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
              <% if @story.published && session[:user_id] %>
                <p><%= link_to "Write Off Of This Story", new_nested_story_path %><span class="fi-wrench" alt="Dashboard"></span></p>
              <% end %>
            </li>


            <li>
              <div class="vine-icon">
                <p id="trace-history">Trace The History</p>
              </div>
            </li>

            <li>
              <p id="sidebar-menu-author">About <%= link_to "#{@story.author.username}", user_path(@story.author) %> </p>
            </li>


        </ul>
    </div>
</div>

</div>